/* importing fonts from fonts.css file */
@import url(/css/fonts.css);


.hero
{
    position: absolute;
    width: 70%;
    height: 90%;
    left: 0px;
    top: 0px;

    background: linear-gradient(166.97deg, #38ADAE 8.59%, #6BA4AD 35.48%, #80A0AC 46.64%, #8D9EAC 53.24%, #F18CAA 106.01%);
}


/* =============== nav bar =============== */
.main-menu
{

}


@media (min-width: 768px) 
{
    .navbar-nav.navbar-center 
    {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
}


.header-area .main-menu .navbar .container-fluid
{
    padding: 2rem 0 5rem 9rem;
}


.header-area .main-menu .navbar .container-fluid .order-3 .navbar-nav
{
    padding-right: 9rem;
} 


#about
{
    position: absolute;
    width: 54px;
    height: 27px;
    left: -180px;
    top: -10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

#my-works
{
    position: absolute;
    width: 120px;
    height: 27px;
    left: -95px;
    top: -10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}   

#contact
{
    position: absolute;
    width: 74px;
    height: 27px;
    left: 20px;
    top: -10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

#upwork-logo
{

}

/*.header-area .main-menu .navbar .navbar-nav .navbar-center
{
    padding: 1rem 0 5rem 7rem;
} */










/* =============== banner =============== */
.site-main .site-banner
{
    height: 100%;
    width: 100%;
    padding-left: 6rem;
}

.site-main .site-banner .site-title h1
{
    font-weight: 800;
}

.site-main .site-banner .banner-image > img
{
    padding: 0 9rem 0 4rem;
    width: 90rem;
}
