/* importing fonts from fonts.css file */
@import url(/css/fonts.css);





.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {    
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  


.hero
{
    position: absolute;
    width: 75%;
    height: 120%;
    left: 0px;
    top: 0px;
    z-index: -10;

    background-image: linear-gradient(166.97deg, #38ADAE 8.59%, #6BA4AD 35.48%, #80A0AC 46.64%, #8D9EAC 53.24%, #F18CAA 106.01%);
}



/* Media Query for Mobile Devices */
@media (max-width: 480px) 
{
    .hero 
    {
        width: 100%;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px)
{
    .hero
    {
        width: 75%;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px)
{
    .hero
    {
        width: 75%;
    }
}
  



#logo
{
    width: 20%;
    height: 10%;
}




#about
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #CAEBEB;
}

#my-works
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #CAEBEB;
}   

#contact
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #CAEBEB;
}


#upwork-logo
{
    position: absolute;
width: 35px;
height: 35px;
left: 1050px;
top: 25%;
}


#linkedin-logo
{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1100px;
    top: 23%;
}






/* 
    styling for banner area text 
*/

@media (min-width: 992px) 
{
    .rounded-lg-3 { border-radius: .3rem; }
}
  


  #banner-title
  {
    font-family: 'Poppins';
    font-style: normal;
  }







/* 
My Projects:
https://getbootstrap.com/docs/5.2/examples/heroes/
#3

About me:
https://getbootstrap.com/docs/5.2/examples/heroes/
#3

*/





